PORT=80

# PostreSQL connection information
POSTGRES_HOST="postgres"
POSTGRES_DB="coffee-e-shop"
POSTGRES_USER="root"
POSTGRES_PASS="toor"

# pgAdmin default credentials
PGADMIN_EMAIL="root@root.com"
PGADMIN_PASS="toor"

# Dev aws acccess keys
AWS_ACCESS_KEY="***************RFKJT"
AWS_SECRET_ACCESS_KEY="*********************************DZq861X"

# JWT information
ACCESS_TOKEN_SECRET="****************M6S3xH]G"
ACCESS_TOKEN_TTL=3600 # 1h in seconds

# Admin page password
ADMIN_PASSWORD="password"